@media (min-width: 1280px) {

    /*PRIVACIDAD*/

    .sticky-header {
        margin-bottom: 110rem;
    }

    .privacidad__quienes-somos {
        margin-top: -80rem;
    }

    .privacidad__caja__texto {
        height: auto;
    }

    .responsive__span,
    .responsive__strong {
        display: block;
        text-transform: uppercase;
    }

    .responsive__strong {
        font-weight: bold;
    }

    .responsive__parrafo {
        font-size: 1.8rem !important;
    }

    .privacidad {
        margin-bottom: 0rem;
    }

    /*AVISO LEGAL*/

    .legal__quienes-somos--normal {
    position: absolute;
    margin-top: 120rem !important;
    }

    .legal__caja {
        margin-top: 133rem !important;
    }

    /*FOOTER*/

    .privacidad__footer {
        top: 600rem !important;
        text-align: center;
    }

}