/************************************************ PANTALLA HASTA 598PX ************************************************
*************************************************** (MÓVILES NORMALES) *************************************************/

/*Pantalla hasta 374px______________________________________________________________________________________________*/

@media (min-width: 350px) {
    /*PRIVACIDAD*/

    .privacidad__quienes-somos {
        margin-top: 18rem;
        margin-bottom: -3.5rem;
    }

    .privacidad__caja__texto--texto,
    .responsive__parrafo {
        text-align: left !important;
    }

    .responsive__parrafo,
    .responsive__span {
        font-size: 1.3rem !important;
    }

    .responsive__parrafo {
        margin: 0;
        padding: 0;
    }

    .privacidad {
        margin-bottom: 0rem !important;
    }

    /*AVISO LEGAL*/

    .legal__quienes-somos {
        margin-top: 673rem !important;
        margin-bottom: 0;
    }
    
    .legal__caja {
        margin-top: -2rem;
    }

    .responsive__strong {
        display: block !important;
    }

    /*FOOTER*/

    .privacidad__footer {
        top: 1505rem !important;
    }
}

/*Pantalla 375px______________________________________________________________________________________________*/

@media (min-width: 375px) {

    /*AVISO LEGAL*/

    .legal__quienes-somos {
        margin-top: 617rem !important;
    }

    .legal__caja {
        margin-bottom: 5rem !important;
    }

    /*FOOTER*/

    .footer {
       margin-top: -92rem;
    }
}

/*Pantalla 384px______________________________________________________________________________________________*/

@media (min-width: 384px) {
    /*AVISO LEGAL*/

    .legal__quienes-somos {
        margin-top: 595rem !important;
    }

    .legal__caja {
        margin-bottom: 0 !important;
    } 

    /*FOOTER*/

    .footer {
        margin-top: -130rem;
     }
}

/*Pantalla 390px______________________________________________________________________________________________*/

@media (min-width: 390px) {
    /*AVISO LEGAL*/

    .legal__quienes-somos {
        margin-top: 613rem !important;
    }

    /*FOOTER*/

    .footer {
        margin-top: -125rem;
     }
}

/*Pantalla 393px______________________________________________________________________________________________*/

@media (min-width: 393px) {
    /*AVISO LEGAL*/

    .legal__quienes-somos {
        margin-top: 603rem !important;
    }

    /*FOOTER*/

    .privacidad__footer {
        top: 1480rem !important;
    }
}

/*Pantalla 412px a 427px______________________________________________________________________________________*/

@media (min-width: 412px) {
    /*AVISO LEGAL*/

    .legal__quienes-somos {
        margin-top: 545rem !important;
    }

    /*FOOTER*/

    .footer {
        margin-top: -217rem;
     }
}

/*Pantalla 428px a 479px______________________________________________________________________________________*/

@media (min-width: 428px) {
    /*AVISO LEGAL*/

    .legal__quienes-somos {
        margin-top: 470rem;
    }

    /*FOOTER*/

    .footer {
        margin-top: -253rem !important;
     }
}

/*Pantalla 480px______________________________________________________________________________________________*/


@media (min-width: 480px) {
    /*AVISO LEGAL*/

    .legal__quienes-somos {
        margin-top: 480rem !important;
    }

    /*FOOTER*/

    .privacidad__footer {
        top: 1345rem !important;
    }
}


/************************************************ PANTALLA DE 599PX A 767PX ************************************************
***************************************************** (TABLETS PEQUEÑAS) ***************************************************/

/*Pantalla 600px______________________________________________________________________________________________*/

@media (min-width: 600px) {

    /*PRIVACIDAD*/

    .responsive__parrafo,
    .responsive__span {
        font-size: 1.8rem !important;
    }

    /*AVISO LEGAL*/

    .legal__quienes-somos {
        margin-top: 445rem !important;
    }

    .legal__caja {
        margin-top: 0rem;
    }

    /*FOOTER*/

    .privacidad__footer {
        top: 1340rem !important;
    }
}

/*Pantalla 640px______________________________________________________________________________________________*/

@media (min-width: 640px) {

    /*AVISO LEGAL*/

    .legal__quienes-somos {
        margin-top: 357rem;
    }

    /*FOOTER*/

    .privacidad__footer {
        top: 945rem;
    }
}


/*Pantalla 641px______________________________________________________________________________________________*/

@media (min-width: 641px) {

    /*AVISO LEGAL*/

    .legal__quienes-somos {
        margin-top: 355rem !important;
    }

    /*FOOTER*/

    .privacidad__footer {
        top: 1145rem !important;
    }
}

/************************************************ PANTALLA DE 769PX A 949PX ************************************************
********************************************************** (TABLETS) ********************************************************/

/*Pantalla 768px______________________________________________________________________________________________*/

@media (min-width: 768px) {

    /*AVISO LEGAL*/

    .legal__quienes-somos {
        margin-top: 330rem !important;
    }

    /*FOOTER*/

    .privacidad__footer {
        top: 1100rem !important;
    }
}

/*Pantalla 800px______________________________________________________________________________________________*/


@media (min-width: 800px) {

    .legal__quienes-somos {
        margin-top: 280rem;
    }

    /*FOOTER*/

    .privacidad__footer {
        top: 755rem;
    }    
}

/*Pantalla 820px______________________________________________________________________________________________*/

@media (min-width: 820px) {

    /*AVISO LEGAL*/

    .legal__quienes-somos {
        margin-top: 305rem !important;
    }

    /*FOOTER*/

    .privacidad__footer {
        top: 1045rem !important;
    }     
}

/*Pantalla 900px______________________________________________________________________________________________*/

@media (min-width: 900px) {

    /*AVISO LEGAL*/

    .legal__quienes-somos {
        margin-top: 251rem;
    }

    /*FOOTER*/

    .privacidad__footer {
        top: 690rem;
    }    
}  

/*Pantalla 912px______________________________________________________________________________________________*/

@media (min-width: 912px) {

    /*AVISO LEGAL*/

    .legal__quienes-somos {
        margin-top: 245rem;
    }

    /*FOOTER*/

    .privacidad__footer {
        top: 680rem;
    }    
}

/*Pantalla 950px______________________________________________________________________________________________*/

@media (min-width: 950px) {

    /*HEADER*/

    /* .enlaces__responsive--privacidad {
        margin-left: 30rem;
    } */

    /*PRIVACIDAD*/

    /*AVISO LEGAL*/

    .legal__quienes-somos {
        margin-top: 300rem;
    }


    /*FOOTER*/

    .privacidad__footer {
        top: 780rem;
    }    
}


/************************************************ PANTALLA DE 1000px A 1279px ***********************************************
**************************************************** (LAPTOS Y PORTÁTILES) **************************************************/

@media (min-width: 1000px) {

    /*PRIVACIDAD*/

    .privacidad__quienes-somos {
        margin-top: -60rem;
        margin-bottom: -1.5rem;
    }

    /*AVISO LEGAL*/

    .legal__quienes-somos {
        margin-top: 415rem !important;
    }

    .legal__caja {
        margin-top: -7.5rem;
    }

    /*FOOTER*/

    .privacidad__footer {
        top: 1275rem !important;
    } 
    
}

/************************************************ PANTALLA SUPERIOR A 1275px ***********************************************
**************************************************** (MACBOOK PRO) **************************************************/

/* @media (min-width: 1275px) {

     /*AVISO LEGAL

     .legal__quienes-somos {
        margin-top: 3000rem !important;
    }

    .legal__caja {
        margin-top: -7.5rem;
    }
} */

/************************************************ PANTALLA MÁS DE 1400px ***********************************************
**************************************************** (monitor) **************************************************/

@media (min-width: 1400px) {
    
    /*PRIVACIDAD*/

    .privacidad__quienes-somos {
        margin-top: -60rem !important;
        margin-bottom: 0rem;
    }

    /*AVISO LEGAL*/

    .legal__quienes-somos {
        margin-top: 227rem !important;
    }

    .legal__caja {
        margin-top: -7.5rem;
    }

    /*FOOTER*/

    .privacidad__footer {
        top: 877rem !important;
    } 

}


